@inherits _BaseLayout

<MudThemeProvider Theme="@SharedLayoutSettings.Theme" IsDarkMode="@SharedLayoutSettings.IsDarkMode" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudRTLProvider RightToLeft="@SharedLayoutSettings.IsRTL">
    <MudLayout>
        <MudAppBar Elevation="1">
            @* <MudIcon Icon="@Icons.Custom.Brands.MicrosoftVisualStudio" Size="Size.Large" /> *@
            <MudText Typo="Typo.h6" Class="ml-2">@ApplicationResource.StringApplicationName</MudText>
            <MudToolBar Gutters="false">
                <MudIconButton Icon="@Icons.Material.Outlined.Menu" Color="Color.Inherit" OnClick="@(() => DrawerOpen = !DrawerOpen)" Class="ml-3" />
            </MudToolBar>
            <MudSpacer />
            @* ********************************** *@
            <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
                @*  <SupportBar /> *@
                <MudDivider Vertical="true" FlexItem="true" DividerType="DividerType.Middle" Class="mx-4 my-5" />
                <MudTooltip Text="@DashboardResource.StringToggleFullscreen">
                    <MudToggleIconButton Icon="@Icons.Material.Filled.Fullscreen" Color="Color.Inherit"
                                         ToggledIcon="@Icons.Material.Filled.FullscreenExit"
                                         ToggledColor="@Color.Inherit" ToggledChanged="ToggleFullscrren" />
                </MudTooltip>
                <LanguageSelector />
                <MudTooltip Text="@DashboardResource.StringToggleRTL">
                    <MudIconButton Icon="@Icons.Material.Filled.FormatTextdirectionRToL" Color="Color.Inherit" OnClick="@((e) => ToggleDirection())" />
                </MudTooltip>
                <MudTooltip Text="@DashboardResource.StringToggleDarkMode">
                    <MudIconButton Icon="@Icons.Material.Filled.Brightness4" Color="Color.Inherit" OnClick="@((e) => ToggleDarkMode())" />
                </MudTooltip>
            </MudHidden>
            @* ********************************** *@
        </MudAppBar>
        @*************************************@
        <MudDrawer @bind-Open="DrawerOpen" Elevation="5" ClipMode="DrawerClipMode.Always">
            <_Sidebar />
        </MudDrawer>
        <MudMainContent>
            <MudContainer MaxWidth="MaxWidth.False" Class="mt-4">
                @Body
            </MudContainer>
        </MudMainContent>
        @*************************************@
        <ThemesMenu UserPreferencesChanged="UpdateUserPreferences"
                    ThemingDrawerOpen="IsThemeManagerOpen" ThemingDrawerOpenChanged="OnThemingDrawerOpenChanged" />
        <ThemesButton OnClick="@(() => IsThemeManagerOpen = true)" />
        @*************************************@
    </MudLayout>
</MudRTLProvider>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
